SERVER_PORT=3001

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_password

DATABASE_NAME=your_database_name
DATABASE_NAME_TEST=your_test_database_name

JWT_SECRET=your_jwt_secret